<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://thymeleaf.org/extras/spring-security">

<head>
	<title>Noticiero EGG</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Estancias - EGG</title>
	<link href="/css/style.css" rel="stylesheet" type="text/css" />
	<script src="https://kit.fontawesome.com/d168e18a02.js" crossorigin="anonymous"></script>
</head>

<body>
	<header th:insert="~{fragments/user/user_temp :: header}"></header>
	<main>
		<div class="container-form">

			<form class="registro-form" th:action="@{/sign-up}" method="POST">

				<div class="login-titulo">
					<label>Registrate!</label>
				</div>
				<div class="error-card" th:if="${error != null}">
					<div class="error-content">
						<h2>Error</h2>
						<p th:text="${error}"></p>
					</div>
				</div>
				<div class="sign-up">
					<div class="form-group my-3">
						<label>Ingrese Alias:</label>
						<input type="text" class="form-control" name="alias" placeholder="Nombre" required>
					</div>
					<div class="form-group my-3">
						<label>Email</label>
						<input type="email" class="form-control" name="email" placeholder="Email" required>
					</div>
					<div class="form-group my-3">
						<label>Contraseña</label>
						<input type="password" class="form-control" name="clave" placeholder="Contraseña" required>
					</div>
					<div class="form-group my-3">
						<label>Repetir Contraseña</label>
						<input type="password" class="form-control" name="clave2" placeholder="Repetir contraseña"
							required>
					</div>			
				</div>
				<button type="submit" class="btn-sign btn-primary"> Registrarse </button>
			</form>
		</div>
	</main>
	<footer th:insert="~{fragments/user/user_temp :: footer}"></footer>
</body>

</html>