<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Estancias - EGG</title>
	<link href="/css/style.css" rel="stylesheet" type="text/css" />
	<script src="https://kit.fontawesome.com/d168e18a02.js" crossorigin="anonymous"></script>
</head>

<body>
	<header th:replace="~{fragments/user/user_temp :: header}"></header>
	<main>
		<div class="container-home">
			<div class="cont-text">
				<div class="cont-text" th:if="${session.userSession == null}">
					<h3 id="text-one">Bienvenido 
						<span th:if="${session.userSession == null}">a Estancias EGG!</span>
						<span th:if="${session.userSession != null}" >de nuevo <p th:text="${session.userSession.alias}"></p></span>
					</h3>
					<h3 id="text-two">Encuentra tu estancia al mejor precio es nuestra web!</h3>
				</div>
				<div class="cont-text" th:if="${session.userSession != null}">
					<h3 id="text-one">Bienvenido de nuevo
						<span th:text="${session.userSession.alias}"></span>
					</h3>
					<h3 id="text-two">Encuentra tu estancia al mejor precio es nuestra web!</h3>
				</div>
			</div>
			<div class="cont-img">
				<img th:src="@{/images/estancia.png}" alt="logo-noticiero-egg">
			</div>
		</div>
	</main>

	<footer th:replace="~{fragments/user/user_temp :: footer}"></footer>
</body>

</html>